/* native watched bage */

ytd-thumbnail-overlay-playback-status-renderer {
	display:none;
}

/* youwatch watched fadeout */

.youwatch-mark yt-img-shadow  {
	background-color:#FFFFFF;
}

.youwatch-mark yt-img-shadow img  {
	opacity:0.3;
}

/* youwatch watched badge */

.youwatch-mark:last-child:after {
	background-color:#000000;
	color:#FFFFFF;
	content:"WATCHED";
	font-family:inherit;
	font-size:11px;
	font-weight:normal;
	left:10px;
	line-height:1.42857143;
	padding:2px 6px 2px 6px;
	position:absolute;
	text-align:left;
	text-decoration:none;
	top:10px;
	white-space:normal;
}
